* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 100px 50px 2fr 50px; /* Define cuatro filas */
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-areas: 
        "header"
        "menu"
        "content"
        "footer"; /* Define las áreas de la cuadrícula */
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: dodgerblue; /* Color de fondo común */
    padding: 10px;
    border: 1px solid black;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.rectangle {
    width: 60%;
    height: 150px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px; 
    border: 1px solid black;
}

.squares {
    display: flex;
    justify-content: space-between;
    width: 60%; 
}

.square {
    width: 34%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 1px solid black;
}

.square.gray {
    background-color: rgb(219, 217, 217);
}

.square.blue {
    background-color: rgba(2, 120, 255, 0);
}

.square.pink {
    background-color: rgb(235, 80, 227);
    color: black; 
}

.footer {
    grid-area: footer;

}